[begin] (WiFi Traffic Analyzer)
[exec] (Wireshark) {sudo wireshark -i eth0 -k}
[exec] (Terminal) {gnome-terminal}
[exec] (Charles) {charles}
[exec] (Help) {xdg-open {{ help_url|default("http://google.com") }}}
[separator]
[include] (/etc/X11/fluxbox/fluxbox-menu)
[end]
