#!/bin/sh
### BEGIN INIT INFO
# Provides:          pypiserver
# Required-Start:    $local_fs $network $named $time $syslog
# Required-Stop:     $local_fs $network $named $time $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Description:       %(description)s
### END INIT INFO

PIDFILE="/var/run/pypiserver.pid"
DAEMON="/usr/local/bin/pypi-server"
ARGV="--interface {{ pypiserver_listen_address|default(pypiserver_listen_address_default) }} --port {{ pypiserver_listen_port|default(pypiserver_listen_port_default) }} --passwords {{ pypiserver_htaccess_path|default(pypiserver_htaccess_path_default) }} --overwrite --disable-fallback /var/cache/pypiserver"
UID="pypiserver"

status() {
	if start-stop-daemon --status --pidfile $PIDFILE; then
		echo "service is running" >&2
	else
		echo "service is not running" >&2
	fi
}

start() {
	start-stop-daemon\
		--start\
		--pidfile $PIDFILE\
		--make-pidfile\
		--chuid $UID\
		--background\
		--exec $DAEMON -- $ARGV
}

stop() {
	start-stop-daemon --stop --pidfile $PIDFILE
}

case "$1" in
	status)
		status
		;;
	start)
		start
		;;
	stop)
		stop
		;;
	restart)
		stop
		start
		;;
	*)
		echo "Usage: $0 {status|start|stop|restart}"
esac
