
# https://gist.github.com/krisztianfekete/8915425

description "PyPI (Python Package Index) Server"

setuid pypiserver
setgid pypiserver

start on startup
stop on shutdown

exec /usr/local/bin/pypi-server\
	--interface {{ pypiserver_listen_address|default(pypiserver_listen_address_default) }}\
	--port {{ pypiserver_listen_port|default(pypiserver_listen_port_default) }}\
	--passwords {{ pypiserver_htaccess_path|default(pypiserver_htaccess_path_default) }}\
	--overwrite\
	--disable-fallback\
	/var/cache/pypiserver

respawn
