input {
	syslog {
		port => {{ logstash_listen_port|default(logstash_listen_port_default) }}
		charset => "ISO-8859-15"
	}
}

output {
	elasticsearch {
		host => localhost
	}
	# DEBUG:
	#   * sudo service logstash stop
	#   * sudo /opt/logstash/bin/logstash -f /etc/logstash/conf.d --verbose
	stdout {
		codec => "rubydebug"
	}
}
